[submodule "deps/nGraph"]
	path = deps/nGraph
	url = https://github.com/hildebrandmw/nGraph.jl
	branch = master
[submodule "deps/SystemSnoop"]
	path = deps/SystemSnoop
	url = https://github.com/hildebrandmw/SystemSnoop.jl
	branch = master
[submodule "deps/PCM"]
	path = deps/PCM
	url = https://github.com/hildebrandmw/PCM.jl
	branch = master
[submodule "deps/PersistentArrays"]
	path = deps/PersistentArrays
	url = https://github.com/darchr/PersistentArrays.jl
	branch = master
[submodule "deps/MaxLFSR"]
	path = deps/MaxLFSR
	url = https://github.com/hildebrandmw/MaxLFSR.jl
[submodule "deps/Slabs"]
	path = deps/Slabs
	url = https://github.com/hildebrandmw/Slabs.jl
[submodule "deps/TimeSync"]
	path = deps/TimeSync
	url = https://github.com/hildebrandmw/TimeSync.jl
